@media only screen and (max-width: 2080px) {
    .content-left {
        width: 22%;
    }

    header .slogan {
        width: 350px;
    }

    .content-right {
        padding: 10px;
    }

    header form input {
        width: 90%;
    }

    header form {
        height: 32px;
        width: 344px;
        margin: 0px 10%;
    }

    header form input {
        height: 35px;
        padding: 0px 10px 0px 0px;
    }

    header .admin-box {
        width: 12%;
        padding: 0px 10px;
        min-width: 126px;
    }

    .board-list {
        justify-content: space-between;
    }

    .board-list .each-list {
        width: 240px;
    }

    .all-students {
        padding: 10px;
    }

    .all-students .top-bar {
        width: 95%;
        height: 50px;
        left: 25px;
    }

    .contentIs .head {
        grid-template-columns: 138px 138px 138px 138px 138px 138px 138px;
    }

    .contentIs .one-students {
        grid-template-columns: 138px 138px 138px 138px 138px 138px 138px;
    }

    .content-right {
        width: 78%;
    }

    header .admin-box p {
        font-size: 15px;
    }

    .all-students .contentIs {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 900px) {
    .content-left {
        width: 95%;
        position: absolute;
        z-index: 2;
        display: none;
    }

    /* header form { */
    /* display: none; */
    /* } */

    header .date {
        display: none;
    }

    .slogan p {
        display: none;

    }

    header .slogan {
        width: 27%;
    }

    .content-right {
        padding: 0px;
    }


    header form {
        height: 30px;
        width: 51%;
        margin: 0px 1%;
      }

      header form input {
        height: 100%;
        padding: 0px 5px 0px 0px;
        width: 90%;
        border: none;
        font-size: 12px;
      }

    header .admin-box {
        width: 26%;
        padding: 0;
        gap: 8px;
        padding: 5px;
        min-width: 105px;
    }

    header form .bx {
        display: none;
    }

    .board-list {
        overflow-x: auto;
        scrollbar-width: none;
        gap: 10px;
    }

    .board-list .each-list {
        min-width: 231px;
    }

    .all-students .top-bar h1 {
        display: none;
    }

    .all-students {
        padding: 4px;
        width: 100%;

    }

    .all-students .contentIs {
        width: 100%;
    }

    .all-students .top-bar {
        width: 94%;
        height: 49px;
        left: 11px;
    }

    .contentIs .head {
        width: 100%;
        overflow: hidden;
    }

    .contentIs .head h1:nth-child(2),
    .contentIs .head h1:nth-child(4),
    .contentIs .head h1:nth-child(5),
    .contentIs .head h1:nth-child(6),
    .contentIs .one-students p:nth-child(2),
    .contentIs .one-students p:nth-child(4),
    .contentIs .one-students p:nth-child(5),
    .contentIs .one-students p:nth-child(6) {
        display: none;
    }

    .contentIs .one-students p:last-child {
        color: var(--blue-color);
    }

    .contentIs .head {
        grid-template-columns: 20% 50% 30%;
    }

    .contentIs .one-students {
        grid-template-columns: 20% 50% 30%;
    }

    .contentIs .one-students p:last-child img {
        display: none;
    }

    .content-right {
        width: 100%;
    }

    header .admin-box p {
        font-size: 13px;
        font-weight: bold;
    }

    .all-students .contentIs {
        padding: 30px 5px;
    }
}